<meta charset="UTF-8">
<title>{{ title }}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ swagger_ui_css }}">
<link rel="icon" type="image/png" href="{{ favicon }}" sizes="64x64 32x32 16x16" />
<style>
    html
    {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    }

    *,
    *:before,
    *:after
    {
    box-sizing: inherit;
    }

    body
    {
    margin:0;
    background: white;
    font-family: 'Roboto';
    }
    .custom-footer {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* White text color */
    text-align: center; /* Center the text */
    padding: 1rem; /* Padding for vertical spacing */
    margin-top: 2rem; /* Optional: space above the footer */
    }

    .custom-footer p {
        margin: 0; /* Remove default margin */
    }

</style>